@using Dominio
@{
    ViewBag.Title = "Login";
}

<h2>Ingreso al sitio</h2>

<form action="/Usuario/Login" method="post">

    <div class="form-group">
        <label for="nombre">Usuario</label>
        <input type="number" class="form-control" name="usuario" required placeholder="Ingrese su usuario" />
    </div>

    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" name="contrasena" required placeholder="Ingrese contraseña" />
    </div>

    <button class="btn btn-primary" type="submit">Acceder</button><a href="/Usuario/Index" class="btn btn-primary">Volver</a>
</form>
<br>
<p>@ViewBag.mensaje</p>



@section script
    {
    <script></script>
}

