
@{
    ViewBag.Title = "ComprarPaquete";
}

<h2>Suscripcion exitosa!</h2>

<a href="/Paquete/PaquetesCliente" class="btn btn-primary">Volver</a>

@section script
    {
    <script>
    </script>

}